.p-right {
  padding-left: 5rem;
}
.movie-link{height:130px}
.movies {
  transform: translate(0px, 0px);
}
.movies .movie-link:hover::after {
  transform: translate(-50px);
}
.rec-pagination{
  display: none !important;;
}

.rec-arrow{
  border-radius: 0 !important;
  height: 88% !important;
  background-color:rgba(29, 28, 28, 0.493) !important;
}
.movie-link:hover {
  transform: scale(1.7);
  object-fit: cover;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  margin: 0 40px;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid red;
}

.movieInfo {
  opacity: 0;
}

.movie-item:hover .movieInfo {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.movies-section { 
    position: relative;
    width: 1200px;
    margin: auto;
}

.next {
  position: absolute;
  width: 50px;
  height: 130px;
bottom: 11%;
  z-index: 50;
  right:  0%;
  background-color:  rgba(0, 0, 0, 0.404);
}

.prev {
    z-index: 50;
  background-color: rgba(0, 0, 0, 0.404);
  position: absolute;
bottom: 11%;
left: 0.5%;
  width: 50px;
  height: 130px;
}
